<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet">\

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                @*<a class="navbar-brand navbar-header" href="">PlanIt</a>*@
                @Html.ActionLink("PlanIt", "Index", "Plan",null, new { @class = "navbar-brand navbar-header" })
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AddPlan" ? "active" : "")">
                        @Html.ActionLink("Add Plan", "AddPlan", "Plan")
                    </li>
                    <li>
                        <a href="">About</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-ex1-collapse hidden-xs">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Profile" ? "active" : "")">
                            <a href="@Url.Action("Profile", "User")">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                @User.Identity.Name
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("LogOut", "User")">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                Log Out
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "LogIn" ? "active" : "")">
                            <a href="@Url.Action("LogIn", "User")">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                                Log In
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "SignUp" ? "active" : "")">
                            @Html.ActionLink("Sign Up", "SignUp", "User")
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="row panel">
        <div class="col-sm-3 hidden-xs">
        </div>
        <div class="col-xs-12 col-sm-5">
            @RenderBody()
        </div>
        <div class="col-sm-3 hidden-xs">
        </div>
    </div>
    <div class="container body-content">
        <footer>
            <p>&copy; @DateTime.Now.Year - PlanIt</p>
        </footer>
    </div>
</body>
</html>