<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Plan.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/notification-menu-item.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/libs/jquery/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/libs/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/libs/bootstrap/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/jquery-ui.css">

</head>
<body>
    <nav class="navbar navbar-fixed-left navbar-minimal animate open" role="navigation">
        <div class="navbar-toggler animate">
            <span class="menu-icon"></span>
        </div>
        <ul class="navbar-menu animate">
            <li>
                <a href="@Url.Action("Index", "Home")" class="animate">
                    <span class="desc animate"> My plans </span>
                    <span class="glyphicon glyphicon-th-list"></span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "UserInteractions")" class="animate">
                    <span class="desc animate"> Notifications </span>
                    <div id="noti_Counter"></div>
                    <span class="glyphicon glyphicon-bell"></span>
                    <script src="~/Content/js/user/notification-menu-item.js"></script>
                </a>
            </li>
            <li>
                <a href="@Url.Action("AddPlan", "Plan")" class="animate">
                    <span class="desc animate"> Add plan </span>
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("EditProfile", "User")" class="animate">
                    <span class="desc animate"> Profile </span>
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("LogOut", "User")" class="animate">
                    <span class="desc animate"> Logout </span>
                    <span class="glyphicon glyphicon-log-out"></span>
                </a>
            </li>
        </ul>
    </nav>
    <img src="~/Content/img/background.jpg" id="bg" alt="">
    <div class="page-background">
        @RenderBody()
    </div>
    <script src="~/Content/js/user/menu.js"></script>
</body>
</html>