@model PlanIt.Web.Models.NotificationSummaryModel


<div class="well">
    @Html.Hidden("plan-id-" + @Model.SharedPlan.Id.ToString(), @Model.SharedPlan.Id)
    @Html.Hidden("plan-title-" + @Model.SharedPlan.Id.ToString(), @Model.SharedPlan.Title)
    @Html.Hidden("plan-description-" + @Model.SharedPlan.Id.ToString(), @Model.SharedPlan.Description)
    @Html.Hidden("plan-begin-" + @Model.SharedPlan.Id.ToString(), @Model.SharedPlan.Begin != null ? @Model.SharedPlan.Begin.Value.ToShortDateString().Replace('.', '/') : null)
    @Html.Hidden("plan-end-" + @Model.SharedPlan.Id.ToString(), @Model.SharedPlan.End != null ? @Model.SharedPlan.End.Value.ToShortDateString().Replace('.', '/') : null)
    <div class="panel panel-default">
        <div class="panel-heading plan-heading">
            @if (Model.SharingStatus == "Pending")
            {
                <span class="pull-left panel-info">
                    User @Model.UserOwner.Email has shared plan with you.
                </span>
            }
            @if (Model.SharingStatus == "Accepted")
            {
                <span class="pull-left panel-info">
                    User @Model.UserReciever.Email has accepted your plan.
                </span>
            }
            @if (Model.SharingStatus == "Declined")
            {
                <span class="pull-left panel-info">
                    User @Model.UserReciever.Email has declined your plan.
                </span>
            }
            <span class="pull-right">
                <strong>Sharing date: </strong>@Model.SharingDateTime.Date.ToString("d MMMM yyyy")
            </span>
            <br />
            <div class="panel panel-default panel-heading">
                <a href="@("#collapse-" + Model.SharedPlan.Id)" data-parent="#collapsible-" class="accordion-toggle" data-toggle="collapse"><strong>@Model.SharedPlan.Title</strong></a>
                <a href="@("#collapse-comments-" + Model.SharedPlan.Id)" data-parent="#collapsible-" class="accordion-toggle pull-right" data-toggle="collapse">Comments</a>
            </div>
            <div class="text-center">
                @if (Model.SharingStatus == "Pending")
                {
                    <div>
                        @Html.ActionLink("Accept", "ChangeSharedPlanUserStatus", "UserInteractions", new { sharedPlanUserId = Model.SharedPlanUserId, newStatus = "Accepted" }, new { @class = "btn btn-success" })
                        <span class="glyphicon glyphicon"></span>
                        @Html.ActionLink("Decline", "ChangeSharedPlanUserStatus", "UserInteractions", new { sharedPlanUserId = Model.SharedPlanUserId, newStatus = "Declined" }, new { @class = "btn btn-warning" })
                    </div>
                }
                @if (Model.SharingStatus == "Accepted" || Model.SharingStatus == "Declined")
                {
                    <div>
                        @Html.ActionLink("Ok", "ChangeOwnerWasNotifiedProperty", "UserInteractions", new { sharedPlanUserId = Model.SharedPlanUserId, newValue = true }, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="@("collapse-" + Model.SharedPlan.Id)" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="panel panel-success panel-heading">
                    <span class="pull-left"><strong>Time Limits:</strong> @Model.SharedPlan.Begin.Value.Date.ToString("d MMMM yyyy") - @Model.SharedPlan.End.Value.Date.ToString("d MMMM yyyy")</span>
                    <br />
                    <span><strong>Description:</strong> @Model.SharedPlan.Description</span>
                </div>
                @foreach (var planItem in Model.SharedPlan.PlanItems)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="@("#collapse-" + planItem.Id)" class="accordion-toggle" data-toggle="collapse">@planItem.Title</a>
                            </h3>
                            <h6 class="pull-left">@planItem.Begin.Value.Date.ToString("d MMMM yyyy") - @planItem.End.Value.Date.ToString("d MMMM yyyy")</h6>
                            <div class="clearfix"></div>
                        </div>
                        <div id="@("collapse-" + planItem.Id)" class="panel-collapse collapse">
                            <div class="panel-body">
                                <span> @planItem.Description</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="@("collapse-comments-" + Model.SharedPlan.Id)" class="panel-collapse collapse">
            <div class="panel-body">
                @foreach (var comment in Model.SharedPlan.Comments)
                {
                    <div class="panel panel-info">
                        <div class="panel-heading">
                                @comment.User.Email -- @comment.CreatedTime
                        </div>
                        <div class="panel-body">
                            @comment.Text
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/libs/noty/jquery.noty.js"></script>
<script src="~/Scripts/libs/noty/layouts/top.js"></script>
<script src="~/Scripts/libs/noty/layouts/topCenter.js"></script>
<script src="~/Scripts/libs/noty/themes/default.js"></script>

<script src="~/Scripts/libs/jquery/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/app/user-interactions/choose-user-to-share.js"></script>
<script src="~/Scripts/app/user-interactions/share-plan.js"></script>
<script src="~/Scripts/app/plan/collapse-plan-panel.js"></script>

<script>
    $('#edit-plan-@Model.SharedPlan.Id').click(function () {

        $("#edit-plan-@Model.SharedPlan.Id").attr("data-toggle", "modal");
        $("#edit-plan-@Model.SharedPlan.Id").attr("data-target", "#modalPlanAddEdit");
        $('#Id').val($('#plan-id-@Model.SharedPlan.Id').val());
        $('#Title').val($('#plan-title-@Model.SharedPlan.Id').val());
        $('#Description').val($('#plan-description-@Model.SharedPlan.Id').val());
        console.log($('#plan-begin-@Model.SharedPlan.Id').val());
        console.log($('#plan-end-@Model.SharedPlan.Id').val());
        $('#datepickerStart').val($('#plan-begin-@Model.SharedPlan.Id').val());
        $('#datepickerEnd').val($('#plan-end-@Model.SharedPlan.Id').val());
    });

    $('#add-plan-item-@Model.SharedPlan.Id').click(function () {
        $("#add-plan-item-@Model.SharedPlan.Id").attr("data-toggle", "modal");
        $("#add-plan-item-@Model.SharedPlan.Id").attr("data-target", "#modalPlanAddEdit");
        $('#Id').val(null);
        $('#Title').val("");
        $('#Description').val("");
        $('#datepickerStart').val("");
        $('#datepickerEnd').val("");
        $('#PlanId').val($('#plan-id-@Model.SharedPlan.Id').val());
    });
</script>
