@model PlanIt.Web.Models.NotificationSummaryModel

@{
    string planId = @Model.SharedPlanUserId.ToString();
}

<div class="well">
    @Html.Hidden("plan-title-" + @planId, @Model.SharedPlan.Title)
    @Html.Hidden("plan-description-" + @planId, @Model.SharedPlan.Description)
    @Html.Hidden("plan-begin-" + @planId, @Model.SharedPlan.Begin.Value.ToShortDateString())
    @Html.Hidden("plan-end-" + @planId, @Model.SharedPlan.End.Value.ToShortDateString())
    <div class="panel panel-default">
        <div class="panel-heading plan-heading">
            @if (Model.SharingStatus == "Pending")
            {
                <h3 class="panel-title pull-left">

                    User @Model.UserOwner.Email has shared with you plan
                    <a href="@("#collapse-" + planId)" data-parent="#collapsible-" class="accordion-toggle" data-toggle="collapse"><strong>@Model.SharedPlan.Title</strong></a>
                </h3>
            }
            @if (Model.SharingStatus == "Accepted")
            {
                <h3 class="panel-title pull-left">

                    User @Model.UserReciever.Email has accepted your plan
                    <a href="@("#collapse-" + planId)" data-parent="#collapsible-" class="accordion-toggle" data-toggle="collapse"><strong>@Model.SharedPlan.Title</strong></a>
                </h3>
            }
            @if (Model.SharingStatus == "Declined")
            {
                <h3 class="panel-title pull-left">

                    User @Model.UserReciever.Email has declined your plan
                    <a href="@("#collapse-" + planId)" data-parent="#collapsible-" class="accordion-toggle" data-toggle="collapse"><strong>@Model.SharedPlan.Title</strong></a>
                </h3>
            }
            <h6 class="panel-info pull-left">@Model.SharingDateTime.ToString()</h6>
            @if (Model.SharingStatus == "Pending")
            {
                <div class="pull-right">
                    @Html.ActionLink("Accept", "AcceptAndAddPlan", "UserInteractions", new { sharedPlanUserId = Model.SharedPlanUserId, sharedPlanId = planId }, new { @class = "btn btn-success" })
                </div>
                <div class="pull-right">
                    @Html.ActionLink("Decline", "ChangeSharedPlanUserStatus", "UserInteractions", new { sharedPlanUserId = Model.SharedPlanUserId, newStatus = "Declined" }, new { @class = "btn btn-warning" })
                </div>
            }
            @if (Model.SharingStatus == "Accepted")
            {
                <div class="pull-right">
                    @Html.ActionLink("Ok", "ChangeSharedPlanUserStatus", "UserInteractions", new { sharedPlanUserId = Model.SharedPlanUserId, newStatus = "Notified" }, new { @class = "btn btn-default" })
                </div>
            }
            @if (Model.SharingStatus == "Declined")
            {
                <div class="pull-right">
                    @Html.ActionLink("Ok", "ChangeSharedPlanUserStatus", "UserInteractions", new { sharedPlanUserId = Model.SharedPlanUserId, newStatus = "Notified" }, new { @class = "btn btn-default" })
                </div>
            }
            <div class="clearfix"></div>
        </div>
        <div id="@("collapse-" + planId)" class="panel-collapse collapse">
            <div class="panel-body">
                <span class="lead"> @Model.SharedPlan.Description</span>
                @foreach (var planItem in Model.SharedPlan.PlanItems)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                @Model.SharedPlan.PlanItems.Count
                                <a href="@("#collapse-" + planItem.Id)" class="accordion-toggle" data-toggle="collapse">Headline 1.1</a>
                            </h2>
                        </div>
                        <div id="@("collapse-" + planItem.Id)" class="panel-collapse collapse">
                            <div class="panel-body">
                                <span class="lead"> @Model.SharedPlan.Description</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/libs/noty/jquery.noty.js"></script>
<script src="~/Scripts/libs/noty/layouts/top.js"></script>
<script src="~/Scripts/libs/noty/layouts/topCenter.js"></script>
<script src="~/Scripts/libs/noty/themes/default.js"></script>

<script src="~/Scripts/libs/jquery/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/app/user-interactions/choose-user-to-share.js"></script>
<script src="~/Scripts/app/user-interactions/share-plan.js"></script>
<script src="~/Scripts/app/plan/collapse-plan-panel.js"></script>


<script>
    $('#edit-plan-@planId').click(function () {

        $('#Title').val($('#plan-title-@planId').val());
        $('#Description').val($('#plan-description-@planId').val());
        console.log($('#plan-begin-@planId').val());
        console.log($('#plan-end-@planId').val());
        $('#StartDate').val($('#plan-begin-@planId').val());
        $('#EndDate').val($('#plan-end-@planId').val());
    });
</script>
