@model PlanIt.Entities.Plan
   @using System;


<div class="well">
    @Html.Hidden("plan-id-"+@Model.Id.ToString(), @Model.Id)
	@Html.Hidden("plan-title-"+@Model.Id.ToString(), @Model.Title)
    @Html.Hidden("plan-description-" + @Model.Id.ToString(), @Model.Description)
    @Html.Hidden("plan-begin-" + @Model.Id.ToString(), @Model.Begin != null ? @Model.Begin.Value.ToShortDateString().Replace('.', '/'):null)
    @Html.Hidden("plan-end-" + @Model.Id.ToString(), @Model.End!= null ? @Model.End.Value.ToShortDateString().Replace('.', '/'):null)
    <div class="panel panel-default">
        <div class="panel-heading plan-heading">
            <h3 class="panel-title pull-left">
                <a href="@("#collapse-" + Model.Id)" data-parent="#collapsible-" class="accordion-toggle" data-toggle="collapse"><strong>@Model.Title</strong></a>
            </h3>
            @if (@Model.Begin != null && Model.End != null)
            {
                <h6 class="pull-left">@Model.Begin.Value.Date.ToString("d MMMM yyyy") - @Model.End.Value.Date.ToString("d MMMM yyyy")</h6>
            }
            @using (Html.BeginForm("Plans", "Plan"))
            {
                <div class="pull-right">
                    @Html.ActionLink("Remove", "RemovePlan", "Plan", new { planId = Model.Id }, new { @class = "btn btn-danger btn-remove-plan" })
                    <button id="edit-plan-@Model.Id" type="button" class="btn btn-primary btn-success"><span class="glyphicon"></span>Edit</button>
                    <button type="button" class="btn btn-primary btn-warning" data-toggle="modal" data-target="@("#modalChooseUserToShare" + Model.Id)"><span class="glyphicon"></span>Share</button>
                    <span class="glyphicon"></span>
                    <div class="dropdown pull-right">
                        <button class="btn btn-info dropdown-toggle" type="button" onclick="@(string.Format("getParticipants({0})", Model.Id))" data-toggle="dropdown">
                            Participants
                            <span class="caret"></span>
                        </button>
                        <ul id="@("getParticipantsDropDown-" + Model.Id)" class="dropdown-menu" role="menu" aria-labelledby="menu1"></ul>
                    </div>
                </div>
    
            <!-- Modal -->
                <div class="modal fade" id="@("modalChooseUserToShare" + Model.Id)" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Share</h4>
                            </div>
                            <div class="modal-body">
                                <div>Enter user email: </div>
                                <input type="text" id="@("chooseUserAutocomplete-" + Model.Id)" onkeyup="@(string.Format("chooseUserAutocomplete({0})", Model.Id))"/>
                                <div class="modal-footer">
                                    <button type="button" id="sharePlanBtn" class="btn btn-warning" onclick="@(string.Format("sharePlan({0})", Model.Id))" data-dismiss="modal">Share</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="@("#collapse-comments-" + Model.Id)" data-parent="#collapsible-" class="accordion-toggle pull-right btn btn-info" data-toggle="collapse">Comments</a>
            }
            <div class="clearfix"></div>
        </div>
        <div id="@("collapse-" + Model.Id)" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="panel panel-success panel-heading">
                    <span><strong>Description:</strong> @Model.Description</span>
                </div>
                @foreach (var planItem in Model.PlanItems)
            {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="@("#collapse-" + planItem.Id)" class="accordion-toggle" data-toggle="collapse">@planItem.Title</a>
                            </h3>
                            @if (planItem.Begin != null && planItem.End != null)
                            {
                                <h6 class="pull-left">@planItem.Begin.Value.Date.ToString("d MMMM yyyy") - @planItem.End.Value.Date.ToString("d MMMM yyyy")</h6>
                            }
                            <div class="pull-right">
                                @Html.ActionLink("Remove Item", "RemovePlan", "Plan", new { planId = planItem.Id, isItem = true }, new { @class = "btn btn-danger btn-remove-plan" })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="@("collapse-" + planItem.Id)" class="panel-collapse collapse">
                            <div class="panel-body">
                                <span> @planItem.Description</span>
                            </div>
                        </div>
                    </div>
                }
                <div class="text-center">
                    <button id="add-plan-item-@Model.Id" type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add Plan Item</button>
                </div>
            </div>
        </div>
        <div id="@("collapse-comments-" + Model.Id)" class="panel-collapse collapse">
            <div class="panel-body">
                @if (Model.Comments.Count > 0)
                {
                    <ul class="chat">
                        @foreach (var comment in Model.Comments)
                        {
                            if (Model.User.Email != comment.User.Email)
                            {
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="~/Content/img/user.png" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">@comment.User.Email</strong> <small class="pull-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>@comment.CreatedTime
                                            </small>
                                        </div>
                                        <p>
                                            @comment.Text
                                        </p>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="~/Content/img/me.png" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class="text-muted"><span class="glyphicon glyphicon-time"></span>@comment.CreatedTime</small>
                                            <strong class="pull-right primary-font">@comment.User.Email</strong>
                                        </div>
                                        <p>
                                            @comment.Text
                                        </p>
                                    </div>
                                </li>
                            }

                        }
                    </ul>
                }
                else
                {
                    <div class="text-center">Not commented yet...</div>
                }
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/libs/noty/jquery.noty.js"></script>
<script src="~/Scripts/libs/noty/layouts/top.js"></script>
<script src="~/Scripts/libs/noty/layouts/topCenter.js"></script>
<script src="~/Scripts/libs/noty/themes/default.js"></script>

<script src="~/Scripts/libs/jquery/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/app/user-interactions/choose-user-to-share.js"></script>
<script src="~/Scripts/app/user-interactions/get-participants.js"></script>
<script src="~/Scripts/app/user-interactions/share-plan.js"></script>
<script src="~/Scripts/app/plan/collapse-plan-panel.js"></script>


<script>
    $('#edit-plan-@Model.Id').click(function () {

        $("#edit-plan-@Model.Id").attr("data-toggle", "modal");
        $("#edit-plan-@Model.Id").attr("data-target", "#modalPlanAddEdit");
        $('#Id').val($('#plan-id-@Model.Id').val());
        $('#Title').val($('#plan-title-@Model.Id').val());
        $('#Description').val($('#plan-description-@Model.Id').val());
                console.log($('#plan-begin-@Model.Id').val());
                console.log($('#plan-end-@Model.Id').val());
        $('#datepickerStart').val($('#plan-begin-@Model.Id').val());
        $('#datepickerEnd').val($('#plan-end-@Model.Id').val());
            });

    $('#add-plan-item-@Model.Id').click(function () {
        $("#add-plan-item-@Model.Id").attr("data-toggle", "modal");
        $("#add-plan-item-@Model.Id").attr("data-target", "#modalPlanAddEdit");
        $('#Id').val(null);
        $('#Title').val("");
        $('#Description').val("");
        $('#datepickerStart').val("");
        $('#datepickerEnd').val("");
        $('#PlanId').val($('#plan-id-@Model.Id').val());
    });

    $('#modalChooseUserToShare'+ @Model.Id.ToString()).click(function () {
        $('#chooseUserAutocomplete-@Model.Id').val("");
    });
</script>




    @*        <div class="container" style="background-color: #CCCCCC; margin-top:5px; margin-bottom:5px; padding:10px;">
            <div class="well well-sm" style=" margin-bottom:5px;"><h5><strong>@plan.Title</strong></h5></div>

            <div class="well"> @plan.Description</div>

            @using (Html.BeginForm("Plans", "Plan"))
            {
                <div class="pull-right">
                    <input type="submit" class="btn btn-success" value="Edit" />
                    <input type="submit" class="btn btn-success" value="Remove" />
                </div>
            }
        </div>*@


    @*<div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>@plan.Title</h3>
                        <p>@plan.Description</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
        </div>}*@
