@model PlanIt.Entities.Plan


<div class="well">
    <h3>
        <strong>@Model.Title</strong>
    </h3>
    @using (Html.BeginForm("Plans", "Plan"))
            {
        <div class="pull-right">
            @Html.ActionLink("Remove", "RemovePlan", "Plan", new { planId = Model.Id }, new { @class = "btn btn-success" })
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-primary btn-warning" data-toggle="modal" data-target="#modalChooseUserToShare"><span class="glyphicon"></span>Share</button>
        </div>

            <!-- Modal -->
        <div class="modal fade" id="modalChooseUserToShare" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Share</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="planId" value=@Model.Id>
                        <input type="text" id="chooseUserAutocomplete"/>
                        <div class="modal-footer">
                            <button type="button" id="sharePlanBtn" class="btn btn-warning" data-dismiss="modal">Share</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <span class="lead"> @Model.Description</span>
</div>

<script src="~/Scripts/noty/jquery.noty.js"></script>
<script src="~/Scripts/noty/layouts/top.js"></script>
<script src="~/Scripts/noty/themes/default.js"></script>

<script src="~/Scripts/libs/jquery/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/user-interactions/choose-user-to-share.js"></script>
<script src="~/Scripts/user-interactions/share-plan.js"></script>

    @*        <div class="container" style="background-color: #CCCCCC; margin-top:5px; margin-bottom:5px; padding:10px;">
            <div class="well well-sm" style=" margin-bottom:5px;"><h5><strong>@plan.Title</strong></h5></div>

            <div class="well"> @plan.Description</div>

            @using (Html.BeginForm("Plans", "Plan"))
            {
                <div class="pull-right">
                    <input type="submit" class="btn btn-success" value="Edit" />
                    <input type="submit" class="btn btn-success" value="Remove" />
                </div>
            }
        </div>*@


    @*<div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>@plan.Title</h3>
                        <p>@plan.Description</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
        </div>}*@
