@model PlanIt.Entities.Plan
@using System;


<div class="well">
    @Html.Hidden("plan-id-" + @Model.Id.ToString(), @Model.Id)
    @Html.Hidden("plan-title-" + @Model.Id.ToString(), @Model.Title)
    @Html.Hidden("plan-description-" + @Model.Id.ToString(), @Model.Description)
    @Html.Hidden("plan-begin-" + @Model.Id.ToString(), @Model.Begin != null ? @Model.Begin.Value.ToShortDateString().Replace('.', '/') : null)
    @Html.Hidden("plan-end-" + @Model.Id.ToString(), @Model.End != null ? @Model.End.Value.ToShortDateString().Replace('.', '/') : null)
    <div class="panel panel-default">
        <div class="panel-heading plan-heading">
            <h3 class="panel-title pull-left">
                <a href="@("#collapse-" + Model.Id)" data-parent="#collapsible-" class="accordion-toggle" data-toggle="collapse"><strong>@Model.Title</strong></a>
            </h3>
            <h6 class="pull-left">@Model.Begin.Value.Date.ToString("d MMMM yyyy") - @Model.End.Value.Date.ToString("d MMMM yyyy") -- Owner: <strong>@Model.User.Email</strong></h6>
            @using (Html.BeginForm("Plans", "Plan"))
            {
                <a href="@("#collapse-comments-" + Model.Id)" data-parent="#collapsible-" class="accordion-toggle pull-right btn btn-info" data-toggle="collapse">Comments</a>
            }
            <div class="clearfix"></div>
        </div>
        <div id="@("collapse-" + Model.Id)" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="panel panel-success panel-heading">
                    <span><strong>Description:</strong> @Model.Description</span>
                </div>
                @foreach (var planItem in Model.PlanItems)
            {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="@("#collapse-" + planItem.Id)" class="accordion-toggle" data-toggle="collapse">@planItem.Title</a>
                            </h3>
                            <h6 class="pull-left">@planItem.Begin.Value.Date.ToString("d MMMM yyyy") - @planItem.End.Value.Date.ToString("d MMMM yyyy")</h6>
                            <div class="clearfix"></div>
                        </div>
                        <div id="@("collapse-" + planItem.Id)" class="panel-collapse collapse">
                            <div class="panel-body">
                                <span> @planItem.Description</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="@("collapse-comments-" + Model.Id)" class="panel-collapse collapse">
            <div id="@("list-comments-" + Model.Id)" class="panel-body">
                @if (Model.Comments.Count > 0)
                {
                    <ul class="chat">
                        @foreach (var comment in Model.Comments)
                        {
                            if (HttpContext.Current.User.Identity.Name != comment.User.Email.ToString())
                            {
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="~/Content/img/user.png" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">@comment.User.Email</strong> <small class="pull-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>@comment.CreatedTime
                                            </small>
                                        </div>
                                        <p class="pull-right">
                                            @comment.Text
                                        </p>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="~/Content/img/me.png" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class="text-muted"><span class="glyphicon glyphicon-time"></span>@comment.CreatedTime</small>
                                            <strong class="pull-right primary-font">@comment.User.Email</strong>
                                        </div>
                                        <p>
                                            @comment.Text
                                        </p>
                                    </div>
                                </li>
                            }

                        }
                    </ul>
                }
                else
                {
                    <div class="text-center">Not commented yet...</div>
                }
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input id="@("new-comment-text-" + Model.Id)" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                    <span class="input-group-btn">
                        <button type="submit" onclick="@(string.Format("commentPlan({0})", Model.Id))" class="btn btn-warning btn-sm" id="btn-chat">
                            Send
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var usrName = "@HttpContext.Current.User.Identity.Name";
</script>
<script src="~/Scripts/libs/noty/jquery.noty.js"></script>
<script src="~/Scripts/libs/noty/layouts/top.js"></script>
<script src="~/Scripts/libs/noty/layouts/topCenter.js"></script>
<script src="~/Scripts/libs/noty/themes/default.js"></script>

<script src="~/Scripts/libs/jquery/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/app/user-interactions/choose-user-to-share.js"></script>
<script src="~/Scripts/app/user-interactions/share-plan.js"></script>
<script src="~/Scripts/app/user-interactions/comment-plan.js"></script>
<script src="~/Scripts/app/plan/collapse-plan-panel.js"></script>