@model PlanIt.Web.Models.PlanIndexViewModel
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="content-container container">
    <h1>My Plans</h1>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            @if (Model.Plans.Count() == 0)
            {
                <h3>You don't have plans</h3>
            }
            else
            {
                foreach (var plan in Model.Plans)
                {
                    @Html.Partial("PlanSummary", plan)
                }
            }

            <div class="text-center">
                 <button id="btn-add-plan" type="button" class="btn btn-primary btn-success" data-toggle="modal" data-target="#modalPlanAddEdit"><span class="glyphicon glyphicon-plus"></span> Add Plan</Button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalPlanAddEdit" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id ="btn-close" type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Plan</h4>
                        </div>
                        <div class="modal-body">
                            @Html.Hidden("ID",null, new { @id = "Id", @class = "form-control"})
                            @Html.Hidden("PlanId", null, new { @id = "PlanId", @class = "form-control" })
                            @Html.TextBox("Title", null, new { @id = "Title", @class = "form-control", @required = "required", @placeholder = "Title" })
                            @Html.TextArea("Description", null, new { @id = "Description",  @class = "form-control", @placeholder = "Description" })
                        <div class="modal-footer">
                            <div class="input-daterange">
                                <div class="start-date">
                                    @Html.TextBox("StartDate", null, new { @id = "datepickerStart", @class = "form-control", @placeholder = "Start date" })
                                </div>
                                <div class="end-date">
                                    @Html.TextBox("EndDate", null, new { @id = "datepickerEnd", @class = "form-control", @placeholder = "End date" })
                                </div>
                            </div>
                            <button type="button" id="planAddEdit" class="btn btn-success">Submit</button>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </div>
    </div>
</div>
   
    @*<script type="text/javascript">
        $(".input-daterange #pickDate").each(function () {
            $(this).datepicker("clearDates ");
        });
    </script>*@
<script>
  $( function() {
      $(".input-daterange #datepickerStart").datepicker();
  });
  $(function () {
      $(".input-daterange #datepickerEnd").datepicker();
  });
  $('#btn-add-plan').click(function () {
      $('#Id').val(null);
      $('#Title').val("");
      $('#Description').val("");
      $('#datepickerStart').val("");
      $('#datepickerEnd').val("");
  });
</script>


    <script type="text/jscript">
        $('#planAddEdit').click(function () {
            var url = '/Plan/AddPlan/';
            var post = {};
            if ($('#Title').val() == "") {
                if ($("#Title").prev(".validation").length == 0) {
                    $("#Title").before("<div class='validation' style='color:red; margin-botton: 2px;'>Please enter Title: </div>");
                }
            }
            else {
                $("#Title").prev(".validation").remove();
                $("#Title").attr("data-dismiss", "modal");

                post.Id = $('#Id').val();
                post.PlanId = $('#PlanId').val();
                post.title = $('#Title').val();
                post.description = $('#Description').val();
                post.startDate = $('#datepickerStart').val();
                post.endDate = $('#datepickerEnd').val();
                $.ajax({
                    url: url,
                    type: "POST",
                    data: JSON.stringify(post),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        window.location.href = data;
                    }
                })
            }
        })


    </script>

