@model PlanIt.Web.Models.LogInDataViewModel

@{
    ViewBag.Title = "LogIn";
}

<div class="auth-background">
    <div class="loginmodal-container">
        <h1>Login to Your Account</h1><br>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) })
            @Html.ValidationMessageFor(m => m.Email)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
            @Html.ValidationMessageFor(m => m.Password)
            <input type="submit" name="Login" class="login loginmodal-submit" value="Login">
        }
        <div class="login-help">
            <a href="@Url.Action("SignUp", "User")">Register</a>
        </div>
    </div>
</div>
