@model PlanIt.Web.Models.SignUpDataViewModel

@{
    ViewBag.Title = "SignUp";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Sign Up</h3>
    </div>
    <div class="panel-body">
        <p class="text-info">Please enter registration data:</p>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Email:</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="form-group">
                <label>Password:</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-group">
                <label>Confirm password:</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <input type="submit" value="Sign up" class="btn btn-warning" />
        }
    </div>
</div>

